*{
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
     font-family:Poppins;
     padding: 0;
     margin: 0;
     background-color: #f3f3f3;
   }
  
  .body{
      margin: 50px 0;
  }

 .bag-details{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 15%;
  }
.products-container{
    display: flex;
    flex-direction: column; 
    padding: 2%;
    width: 55%;
    margin: 1%;
    background-color: white;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 81%);
}
.product{
  display: flex;
  flex-direction: row; 
  padding: 3% 0; 
  
}
.product-img{
  width: 25%;

  margin-right: 3%;
}
.product-info div{
 padding-bottom: 7%;
}
.product-details{
  display: flex;
  flex-direction: row; 
}
.product-details p{
  padding-right: 10%;
}
.price{
  display: flex;
  flex-direction: row;

}
.qnt-input{
  width: 10%;
  text-align: center;
}
.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2% 3% 3%;; 
    width: 25%;
    height: 1%;
    background-color: white;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 81%);
  margin: 1%;
}
.info-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3% 0;
}
.submit-button{
    height: 40px;
    background-color: black;
    border: none;
    color: white;
    padding: 2% 0;
    
}
.submit-button:hover{
   opacity: 0.7;

}


footer{

    background-color: rgb(0, 0, 0);
    color: black;
    padding: 1px 0;
   
   }
   .footer-elements{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
     margin: 50px 0 0;
   }
   .footer{
      
      font-family: Poppins ;
   }
   ul{
     line-height: 2.5;
     margin-top: 10px;
     
   }
   
   .footer-heading{
      font-weight: bolder;
     margin-bottom: 10px;
     font-size:20;
     
     color: white;
   }
   .footer-a{
    color: aliceblue;
   }
   ul, li, a{
     list-style-type: none;
     text-decoration: none;
     color: aliceblue;
     font-size: 14px;
   }
   .fa-facebook, .fa-instagram{
     font-size: 25px;
     padding-right: 5px;
     
     color:rgb(255, 255, 255);
   }
   .fa-facebook:hover{color: #bdac9d;}
   .fa-instagram:hover{color: #bdac9d;}
  
   i{
     padding-right: 5px;
   }
